

.navbar {
  background-color: rgb(255, 255, 255);
}
a:hover {
  background-color: #e1eedd;
}

.parallax {
  /* The image used */
  background-image: url('./images/hero.png');

  /* Set a specific height */
  height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.colour {
  background-color: rgb(51, 51, 48);
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

#heroTitle.title {
  color: rgb(194, 221, 185);
  font-family: 'Julius Sans One', sans-serif;
  font-size: 80px;
  animation-name: fadein 2s;
  text-align: center;
}

#heroSubtitle.subtitle {
  color: rgb(255, 255, 255);
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  text-align: center;
}

.green {
  background-color: #e1eedd;
}
.title {
  color: rgb(51, 51, 48);
  font-family: 'Open Sans', sans-serif;
  font-size: 25px;
}

.title1 {
  color: rgb(194, 221, 185);
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
}

.title2 {
  color: rgb(51, 51, 48);
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
}

.subtitle {
  color: rgb(51, 51, 48);
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}

#sectionPadding {
  padding: 10px 0 10px 0;
}

p {
  font-family: 'Open Sans', sans-serif;
  color: rgb(51, 51, 48);
}

.navbar {
  background-color: rgb(255, 255, 255);
}
