body {
  background-color: #FFFFFF;
  font-family: Julius Sans One, sans-serif;
}

.parallax {
  /* The image used */
  background-image: url('./images/keyboard.png');

  /* Set a specific height */
  height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.title {
  color: rgb(194, 221, 185);
  font-family: Julius Sans One, sans-serif;
  font-size: 45px;
}

.subtitle {
  color: rgb(194, 221, 185);
  font-family: Julius Sans One, sans-serif;
  font-size: 20px;
}

.green {
  background-color: rgb(194, 221, 185);
}

.title1 {
  color: 194, 221, 185;
  font-family: Julius Sans One, sans-serif;
  font-size: 20px;
}
