body {
  color: #ffffff;
}

strong {
    color: #ffffff;
    font-weight: 700;
}

strong right{
    color: #ff6600;
    font-weight: 700;
}

a {
  text-decoration: none;
  color: #ff6600 !important;
}

a:link {
  color: #ff6600 !important;
}

a:visited {
  color: #ff6600 !important;
}

a:hover {
  color: #ffffff !important;
}

.navbar {
  background-color: rgb(38, 38, 38) !important;
  font-family: 'Roboto', sans-serif;
  color: #ffffff !important;
}

.navbar a:hover {
  background-color: #ff6600 !important;
  color: #ffffff !important;
}

a.navbar-item {
  color: #ffffff !important;
}

.parallax {
  /* The image used */
  background-image: url('./images/herogrey.png');

  /* Set a specific height */
  height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero.colour {
  /* The image used */
  background-image: url('./images/clouds4.jpg');
  /* Photo by <a href="https://unsplash.com/@joeting?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">joe ting</a> on <a href="https://unsplash.com/s/photos/orange-clouds?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
   */

  /* Set a specific height */
  height: 750px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
	animation-name: fadeIn;
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}

.fadeIn.two {
  -webkit-animation-name: fadeIn;
	animation-name: fadeIn;
  -webkit-animation-delay: 2.5s;
  -moz-animation-delay: 2.5s;
  animation-delay: 2.5s;
}

.fadeIn.three {
  -webkit-animation-name: fadeIn;
	animation-name: fadeIn;
  -webkit-animation-delay: 3.5s;
  -moz-animation-delay: 3.5s;
  animation-delay: 3.5s;
}

.fadeIn.four {
  -webkit-animation-name: fadeIn;
	animation-name: fadeIn;
  -webkit-animation-delay: 4.5s;
  -moz-animation-delay: 4.5s;
  animation-delay: 4.5s;
}

#heroTitle.title {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 80px;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  text-align: center;
}

#heroSubtitle.subtitle {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  text-align: center;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  text-align: center;
}

#heroSubtitle2.subtitle {
  color: #ff6600;
  font-family: 'Roboto', sans-serif;
  font-size: 50px;
  text-align: center;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  text-align: center;
}

.projectImg {
  width: 550px;
  height: 250px;
  box-shadow: 2px 2px 5px #ffffff;
}

.languageIcons {
  width: 60px;
  height: 60px;
  margin: 20px 0 20px 0;

}

.column.left.is-one-quarter {
  background-color: rgb(38, 38, 38);
  padding: 30px 30px 30px 40px;
  text-align: center;
  font-weight: strong;
}

.column.left.is-one-quarter.skills {
  background-color: rgb(38, 38, 38);
  padding: 30px 30px 30px 40px;
  text-align: center;
  font-weight: strong;
}

.column.left.is-one-quarter.subtitle {
  padding-top: 30px;
  text-align: left;
  color: #ffffff;
  font-weight: strong;
}

.column.is-half {
    padding: 30px;
    text-align: center;
    color: color: #ffffff;
    background-color:rgb(38, 38, 38);
}

.column.is-half.skills {
    padding: 30px;
    text-align: center;
    height: 1100px;
}

.column.is-half.contact {
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: strong;
}

.column.is-one-quarter {
    padding: 30px;
    text-align: center;
    background-color:rgb(38, 38, 38);
}

.column.skills {
  display: flex;
  flex-wrap: wrap;
  width: 100px;
  justify-content: center;
  align-items: center;
}

.column.skills.soft {
  display: flex;
  flex-wrap: wrap;
  width: 116.7px;
  justify-content: center;
  align-items: center;
}

.columns.skills {
  width: 700px;
}

.columns.skills.small {
  width: 200px;
}

.columns.skills.medium {
  width: 650px;
}

.skillHeadings {
  height: 142px;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-weight: bold;
}

.skillHeadings.bigger {
  height: 160px;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.skillHeadings.bigger p {
  color: #ffffff;
  font-weight: bold;
}

.langIconImg {
  display: flex;
  justify-content: center;
  align-items: center;
}

.langIconP {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-body {
  display: flex;
  align-items: center;
  justify-content: center;
}
.title {
  color: rgb(38, 38, 38);
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  text-align: center;
}

.title1 {
  color: rgb(255, 255, 255);
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  text-align: center;
}

.title2 {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  margin: 0 0 20px 0;
  font-weight: bold;
}

.title3 {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

.title2.right{
  color: #ffffff;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  margin: 0 0 20px 0;
}

.subtitle {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  padding-top: 25px;
}

.subtitleBio {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  font-weight: bold;
}

#sectionPadding.section {
  padding: 12px 0 12px 0;
}

p {
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
}

p.right {
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
}

p.skills {
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  font-size: 12px;
  text-align: center;
}

.footer.footer.grey {
  background-color: rgb(38, 38, 38);
  height: 50px;
  text-align: center;
}

.footer.grey p{
  color: rgb(255, 255, 255);
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
}

.bio {
  margin: 35px 0 35px 0;
  color: #ffffff;
}

.icons {
  height: 100px;
  width: 100px;
}
